[submodule "gmarik/vundle"]
	path = bundle/Vundle.vim
    url = https://github.com/gmarik/vundle.git
[submodule "scrooloose/nerdcommenter"]
    path = bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "Lokaltog/powerline"]
    path = bundle/powerline
    url = https://github.com/Lokaltog/powerline.git
[submodule "tpope/vim-fugitive"]
    path = bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "klen/python-mode"]
    path = bundle/python-mode
    url = https://github.com/klen/python-mode.git
[submodule "vimoutliner/vimoutliner"]
    path = bundle/vimoutliner
    url = https://github.com/vimoutliner/vimoutliner.git
[submodule "wincent/Command-T"]
    path = bundle/Command-T
    url = https://github.com/wincent/Command-T.git
[submodule "wincent/Command-T/vendor/vimball"]
    path = bundle/Command-T/vendor/vimball
    url = https://github.com/tomtom/vimball.rb.git
    ignore = all
[submodule "wincent/Command-T/vendor/vimscriptuploader"]
    path = bundle/Command-T/vendor/vimscriptuploader
    url = https://github.com/tomtom/vimscriptuploader.rb.git
    ignore = all
[submodule "Lokaltog/powerline-fonts"]
    path = bundle/powerline-fonts
    url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "chrisbra/csv.vim"]
    path = bundle/csv.vim
    url = https://github.com/chrisbra/csv.vim.git
[submodule "mattboehm/vim-accordion"]
    path = bundle/vim-accordion
    url = https://github.com/mattboehm/vim-accordion.git
[submodule "ervandew/supertab"]
    path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "plasticboy/vim-markdown"]
    path = bundle/vim-markdown
    url = https://github.com/plasticboy/vim-markdown.git
[submodule "waylan/vim-markdown-extra-preview"]
    path = bundle/vim-markdown-extra-preview
    url = https://github.com/waylan/vim-markdown-extra-preview.git
[submodule "airblade/vim-rooter"]
    path = bundle/vim-rooter
    url = https://github.com/airblade/vim-rooter.git
[submodule "bling/vim-bufferline"]
    path = bundle/vim-bufferline
    url = https://github.com/bling/vim-bufferline.git
[submodule "vim-scripts/ScrollColors"]
    path = bundle/ScrollColors
    url = https://github.com/vim-scripts/ScrollColors.git
[submodule "brianclements/vim-popwindow"]
    path = bundle/vim-popwindow
    url = https://github.com/brianclements/vim-popwindow.git
[submodule "tomasr/molokai"]
    path = bundle/molokai
    url = https://github.com/tomasr/molokai.git
[submodule "ap/vim-css-color"]
    path = bundle/vim-css-color
    url = https://github.com/ap/vim-css-color.git
[submodule "tpope/vim-surround"]
    path = bundle/vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "tpope/vim-repeat"]
    path = bundle/vim-repeat
    url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/Tagbar"]
	path = bundle/Tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = http://github.com/christoomey/vim-tmux-navigator.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/brianclements/vim-virtualenv.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-lilypond"]
	path = bundle/vim-lilypond
	url = https://github.com/brianclements/vim-lilypond.git
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/vim-yaml"]
	path = bundle/vim-yaml
	url = git@github.com:stephpy/vim-yaml.git
[submodule "bundle/jshint2.vim"]
	path = bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
[submodule "bundle/vim-javacomplete2"]
	path = bundle/vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "bundle/vim-android"]
	path = bundle/vim-android
	url = https://github.com/hsanson/vim-android.git
